header{
    width: 100%;
    height: 64px;
    padding: 8px;
    background-color: var(--laranja);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

header img{
    height: 100%;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
}
#conteudo1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#conteudo1>img{
    position: absolute;
    z-index: 1000;
}
.carrossel {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}