*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'MuktaVaani';
    src: url('fonts/MuktaVaani-Regular.ttf') format('truetype'),
         url('fonts/MuktaVaani-Regular.woff') format('woff'),
         url('fonts/MuktaVaani-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Melhora o carregamento */
  }
  
  body {
    font-family: 'MuktaVaani', sans-serif;
  }