:root {
    --laranja: #ED7D31;
    --marrom-escuro: #4F4A45;
    --preto: #1A1A1A;
    --braco: #F6F1EE;
}
body{
    width: 100%;
}
main{
    width: 100%;
    height: 100vh;
    background-color: var(--marrom-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
   transition: transform 0.1s ease-out;
    position: relative;
    z-index: 10;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img{
    height: 384px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: var(--laranja);
}
/* Adicionando a animação idle */
@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.dinamico {
    animation: floatAnimation 3s ease-in-out infinite;
}

/* Mantendo a interação do mouse */
.active-mouse {
    animation: none !important;
}

a{
    text-decoration: none;
    color: var(--preto);
}